// _______________________VARIABLE__START_____________________

$grdDefault: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
$grdActive: linear-gradient(180deg, #FE5626 0%, #F23F0E 100%);

$textDefault: #000;
$bgMain: #fff;
$bgTwo: #F0F5FB;
$bgModal: #f4f4f4;

$colorDefault: #c4c4c4;
$colorDefaultLight: #ECEEF6;
$colorActiveWork: #46CB72;
$colorActive: #FE3326;

$fzXS: 12px;
$fzS: 14px;
$fzM: 16px;
$fzL: 24px;
$fzXL: 36px;

%display-center {
    display: flex;
    justify-content: center;
    align-items: center;

@mixin h-w($elem) {
    height: $elem;
    width: $elem;
}
}
// _______________________VARIABLE__END_____________________

// _______________________DEFAULT__START_____________________
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.container {
    padding: 32px 30px;

    &__header {
        @extend %display-center;
        justify-content: space-between;
    }

    &__content {
        padding: 12px 0;
    }

    &__footer {
        text-align: center;
    }

    .nav {
        margin-top: 28px;

        &__item {
            margin: 16px 0;
        }
    }

    .time-work {
        text-align: center;
        margin: 0 auto;
        font-size: 12px;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: -16px;
            margin-top: -4px;
            height: 8px;
            width: 8px;
            background-color: $colorActiveWork;
            border-radius: 8px;
        }
    }
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100.4%;
    text-align: center;
}

h3 {
    font-size: $fzL;
    line-height: 140%;
}

a {
    text-decoration: none;
    color: $textDefault;
}

.user-location {
    color: $colorActive;
    
    p {
        font-weight: 500;
        position: relative;
        font-size: $fzM;

        &::after {
            content: '';
            display: block;
            bottom: 0;
            left: 0;
            width: 102%;
            margin: 1px 0 0 -1px;
            height: 2px;
            background-color: $colorActive;
        }
    }
}

.subtitle {
    margin-top: 30px;
    font-size: $fzS;
    font-weight: normal;
    line-height: 140%;
}

.button {
    border: none;
    background: $grdDefault;
    cursor: pointer;
    
    &_icon {
        background: transparent;
        @extend %display-center;
        position: relative;

        img {
            margin-right: 4px;
        }

        &_fill {
            .button {
                &__img {
                    @extend %display-center;
                    background: $grdDefault;
                    border-radius: 300px;
                    padding: 8px;
                    margin-right: 12px;

                    img {
                        margin: 0;
                    }
                }

                &__text {
                    color: $textDefault;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                }

            }
        }
    }
    
    &__number {
        display: block;
        position: absolute;
        top: 4px;
        right: -4px;
        background: $grdDefault;
        border: 2px solid $bgModal;
        padding: 4px 5px;
        font-weight: 600;
        font-size: 10px;
        line-height: 82.9%;
        letter-spacing: -0.005em;
        border-radius: 120px;
        color: $colorDefaultLight;        
    }
}

.logo {
    @extend %display-center;
    text-align: left;

    &__img {
        height: 55px;
        margin-right: 8px;

        img {
            height: 100%;
        }
    }
    
    &__title {
        font-size: $fzL - 4;
        font-weight: 600;
        line-height: 82.9%;
        letter-spacing: -0.005em;
        margin-bottom: 6px;

        &_orange {
            color: $colorActive;
            display: block;
        }
    }
}
// _______________________DEFAULT__END_____________________

// _______________________HEADER__START_____________________
.header {
    background: $bgTwo;

    .container {
        @extend %display-center;
        justify-content: space-between;

        &__buttons {
            @extend %display-center;

            .button_icon:nth-child(1) {
                margin-right: 4vw;
            }
        }
    }
}
// _______________________HEADER__END_______________________
// _______________________MAIN__START_______________________
.main {
    background: $bgTwo;
    text-align: center;

    img {
        width: 100%;
    }
}
// _______________________MAIN__END_______________________

// _____________________ MAIN -- START _______________________
// _____________________ MAIN -- END _______________________

// _____________________ MENU -- START _______________________
.menu {
    display: block;
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: -100vw;
    transition: all .5s;
    
    .container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        z-index: 10;
        background: $bgModal;
        box-shadow: 0px 4px 14px #bfbfbf;

        &__header, &__content {
            justify-self: start;
            // align-self: end;
        }
        &__footer {
            padding-top: 65px;

            .button {
                text-align: center;
                margin: 0 auto;
                margin-bottom: 8px;
            }

            .logo {
                margin-top: 20px;
            }
        }
    }
}
// _____________________ MENU -- END _______________________
