@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import "~normalize.css";

.vkus-v__footer {

$colorDefaultFooter: rgba($bgTwo, .9);

    .container {
        background-color: $bgFooter;
        color: $colorDefaultFooter;
        padding-bottom: 60px !important;

        .logo {
            color: $bgMain;
            display: none;
        }

        @media only screen and (min-width: 768px) {
            padding-bottom: 0 !important;
            padding: 20px 40px !important;

            .logo {
                display: flex;
            }

            p {
                margin: 0;
            }

            &__header {
                display: none;
            }
        }

        &__content {
            padding: 80px 0;

            @media only screen and (min-width: 768px) {
                display: none;
            }

            .content {
                &__item {
                    margin: 0 auto;
                    text-align: center;

                    .item__time-work {
                        font-size: $fzS;
                        display: inline-block;
                        margin-top: 12px;
                        position: relative;
                        margin-right: -16px;

                        &::before {
                            content: '';
                            position: absolute;
                            display: block;
                            bottom: 50%;
                            margin-bottom: -4px;
                            left: -16px;
                            width: 8px;
                            height: 8px;
                            border-radius: 4px;
                            background: $colorActiveWork;
                        }
                    }

                    .button__icon-text {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: transparent;
                        border: none;
                        color: $colorDefaultFooter;
                    }

                    .button__icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 18px;
                        height: 36px;
                        width: 36px;
                        max-width: 36px;
                        background: $grdActive;
                        margin-right: 8px;
                        

                        img {
                            height: 20px;
                            width: 20px;
                        }
                    }

                    .button__text {
                        color: $bgTwo;
                        font-weight: bold;
                        font-size: $fzM+2;
                        line-height: 22px;

                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }

        a {
            color: $colorDefaultFooter;

            &::before {
                background-color: $colorDefaultFooter;
            }
        }

        &__item {
            text-align: center;
            display: flex;
            justify-content: space-around;
            align-items: center;

            &.nav {
                a {
                    font-weight: normal;

                    &::before {
                        display: none;
                    }
                }
            }
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            color: $colorActive;
            line-height: 140%;
            width: 100%;
            max-width: 100%;

            &.user-location {
                background: transparent;
                margin-bottom: 24px;

                img {
                    margin: 0;
                    width: 24px !important;
                    min-width: 24px !important;
                }
            }

            &__text {
                display: inline-block;
                margin-left: 4px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    bottom: -1px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: $colorActive;
                }
            }
        }

        &__footer {
            text-align: center;

            @media only screen and (min-width: 768px) { 
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
            }

            .footer__title {
                font-weight: 600;

                @media only screen and (min-width: 768px) {
                    font-weight: 500;
                }
            }

            a {
                font-weight: normal;
            }

            p {
                margin: 12px 0 0 0;
            }
        }
    }
}
