@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import '~normalize.css';

.vkus-v__main {
    text-align: center;
    position: relative;
    
    .container {
        background-color: #F0F5FB;
        padding-bottom: 230px;

        @media only screen and (min-width: 320px) {
            padding-top: 16px;
            
            @media only screen and (min-width: 480px) { 
                padding-top: 0;
            }
        }

        @media only screen and (min-width: 768px) { 
            padding-top: 30px;
            padding-bottom: 250px;
        }

        @media only screen and (min-width: 1024px) {
            padding-top: 80px;
            padding-bottom: 300px;
        }

        @media only screen and (min-width: 1224px) {
            padding-bottom: 330px;
        }

        &__img-main {
            margin-left: 6px;
            margin-bottom: -100px;
            width: 300px;

            @media only screen and (min-width: 480px) { 
            }

            @media only screen and (min-width: 768px) { 
                width: 400px;
            }
            
            @media only screen and (min-width: 1024px) { 
                width: 500px;
            }
        }

        &__text {
            margin-bottom: 80px;
            position: relative;
            z-index: 2;

            @media only screen and (min-width: 480px) {
                margin-bottom: 50px;
            }

            .subtitle {
                display: block;
                line-height: 140%;
                width: 90%;
                margin: {
                    left: auto;
                    right: auto;
                };

                @media only screen and (min-width: 480px) {
                    width: 85%;

                    @media only screen and (min-width: 1224px) {
                        width: 60%;
                    }        
                }
            }
        }

        .features {
            &__block {
                position: absolute;
                display: flex;
                z-index: 5;
                left: 50%;
                bottom: 27px;
                margin-left: -150px;

                @media only screen and (min-width: 1024px) {
                    margin-left: -240px;
                }
                
                & > div {
                    position: absolute;
                    bottom: -100px;
                    left: 12px;

                    @media only screen and (min-width: 1024px) {
                        left: auto;
                        right: 96px;
                        bottom: -60px;
                    }

                    @media only screen and (min-width: 1224px) {
                        right: 61px;
                        bottom: -70px;
                    }
                }
            }

            .text {
                font-size: $fzS;
                position: absolute;
                bottom: 303px;
                left: 0;
                text-align: left;
                width: 200px;

                @media only screen and (min-width: 1024px) {
                    bottom: 250px;
                    left: 31px;
                }
            } 
        }   

        &__features {
            .button {
                position: absolute;
                margin-left: -25px;
                bottom: 130px;
                left: 72px;
                z-index: 5;

                @media only screen and (min-width: 1024px) {
                    transform: rotate(0);
                    bottom: 176px;
                    left: -26px;
                }
            }
        }

        &__img-line {
            position: absolute;
            bottom: 200px;
            left: -30px;
            transform: rotate(270deg);

            @media only screen and (min-width: 1024px) {
                transform: rotate(0);
            }
        }

        .container__background {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        .background__item {
            position: absolute;

            @media only screen and (min-width: 768px) {                
                &-5 {
                    bottom: 81px;
                    width: 85px;
                    left: 40px;
                    z-index: 5;
                }

                &-6 {
                    bottom: 86px;
                    width: 86px;
                    left: 65px;
                    transform: rotate(183deg);
                }

                &-7 {
                    bottom: 198px;
                    width: 80px;
                    left: 100px;

                    @media only screen and (min-width: 1024px) {
                        width: 160px;
                        bottom: 140px;
                        left: 170px;
                    }
                }

                &-8 {
                    bottom: 180px;
                    right: 110px;
                    height: 100px;

                    @media only screen and (min-width: 1224px) {
                        bottom: 70px;
                        right: 190px;
                        height: 120px;
                    }
                }

                &-9 {
                    bottom: 41px;
                    right: -32px;

                        right: -40px;
                        bottom: 30px;
                }
            }

            &-5, &-6, &-7, &-8, &-9 {
                display: none;

                @media only screen and (min-width: 768px) {
                    display: block;
                }
            }

            &-1 {
                height: 75px;
                margin: {
                    right: -5px;
                    top: -14px;
                }
                top: 0;
                right: 0;
            }

            &-2 {
                height: 90px;
                left: -50px;
                top: 160px;
                z-index: 2;

                @media only screen and (min-width: 768px) {                
                    height: 120px;
                }

                @media only screen and (min-width: 1224px) {                
                    height: 190px;
                    left: -60px;
                }
             }

            &-3 {
                height: 75px;
                left: -23px;
                top: 158px;
                z-index: 1;
                transform: rotate(-16deg);

                @media only screen and (min-width: 768px) {
                    height: 110px;
                    top: 145px;
                }
            }

            &-4 {
                height: 200px;
                right: -90px;
                top: 334px;
                z-index: 1;

                @media only screen and (min-width: 768px) {                
                    height: 160px;
                    right: -73px;
                    top: 230px;
                }

                @media only screen and (min-width: 1224px) {                
                    right: 15px;
                    height: 180px;
                    top: 200px;
                }            
            }
        }
    }
}