@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import "~normalize.css";

.vkus-v__products {
  margin-top: 150px;

  @media only screen and (min-width: 480px) {
    margin-top: 120px;
  }

  .container {
    padding-top: 0;
    
    .tabs {
      margin-top: 35px;

      &__nav {
        width: 100%;
        margin: 0 auto 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      
      &-info {
        &__item {
          .product {
            &__item {
              display: flex;
              flex-direction: column;
              align-content: center;
              justify-content: space-between;
              border: 2px solid $colorDefault;
              border-radius: 15px;
              overflow: hidden;
              padding: 20px;
              margin-bottom: 15px;
              width: 100%;

              @media only screen and (min-width: 480px) {
                margin: 0;
                padding: 16px;
                padding-top: 0;

                .button {
                  padding: 0;
                }
              }
            }

            &__img {
              width: 80%;
              margin: 20px auto;

              @media only screen and (min-width: 480px) {
                width: 90%;
              }
            }

            &__text {
              .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 8px;
              }
            }

            &__descr {
              font-size: $fzXS;
              // min-height: 65px;
            }

            &__price {
              text-align: center;
              font-size: $fzL;
              margin: 12px 0;
            }

            &__size {
              line-height: 9px;
              text-align: center;
            }
          }
          .button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              height: 24px;
            }

            &__text {
              font-weight: 700;
              display: block;
              // margin-top: -2px;
              margin-left: 2px;
            }
          }
        }
      }
    }
    
    .button__icon_update {
      margin: 25px auto 0;
    }
  }
}
