// COLOR
$grdDefault: linear-gradient(287.74deg, #f58656 8.52%, #fe5626 92.72%);
$grdActive: linear-gradient(180deg, #fe5626 0%, #f23f0e 100%);

$textDefault: #000;
$bgMain: #fff;
$bgTwo: #f0f5fb;
$bgModal: #f4f4f4;
$bgFooter: #303030;

$colorDefault: #c4c4c4;
$colorDefaultLight: #eceef6;
$colorActiveWork: #46cb72;
$colorActive: #fe3326;

// $colorrgb(197, 197, 197)

// FONT-SIZE
$fzXS: 12px;
$fzS: 14px;
$fzM: 16px;
$fzL: 24px;
$fzXL: 36px;

// @media only screen and (max-width: 1024px) {
//     .class {
//         height: 800px;
//     }
// }
// @media only screen and (max-width: 768px) {
//     .class {
//         height: 600px;
//     }
// }
// @media only screen and (max-width: 640px) {
//     .class {
//         height: 300px;
//     }
// }

// 480 


// @media only screen and (max-width: 480px) {
//         .class {
//             height: 300px;
// }

// .features__block {
//     position: absolute;
//     bottom: -40px;
//     left: 30px;